<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>VelocityView</servlet-name>
        <servlet-class>org.apache.velocity.tools.view.VelocityViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>padrao</servlet-name>
        <servlet-class>org.voya.core.VoyaResouceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoyaServlet</servlet-name>
        <servlet-class>org.voya.core.VoyaServlet</servlet-class>
        <init-param>
            <param-name>ControllerClassesPackage</param-name>
            <param-value>org.voya.exemplo</param-value>
        </init-param>
        <init-param>
            <param-name>ViewClassesPackage</param-name>
            <param-value>org.voya.exemplo.view</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>VelocityView</servlet-name>
        <url-pattern>*.vm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
            <servlet-name>default</servlet-name>
            <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoyaServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
