<html>
    <body>
        <form action="loginDo">
            <input type="text" name="login"/>
            <input type="password" name="senha"/>
            <input type="submit"/>
        </form>
        
        <form method="POST" enctype="multipart/form-data" action="Lancamento/upload">
            File to upload: <input type="file" name="upfile"><br/>
            Notes about the file: <input type="text" name="note"><br/>
            <br/>
            <input type="submit" value="Press"> to upload the file!
        </form>
        
        
    </body>
</html>